
<!-- Layouts -->
<% if(page.layout === 'tags') { %>
    <!-- Tags Cloud -->
    <%- partial('_widget/page-tagcloud') %>

<% } else if(page.layout === 'links') { %>
    <!-- Single Links Page -->
    <%- partial('_widget/page-links') %>

<% } else if(page.layout === 'timeline') { %>
    <!-- Single Timeline Page -->
    <%- partial('_widget/page-timeline') %>

<% } else { %>


<!--  代码渲染  -->
<link rel="stylesheet" href="/css/prism_<%= theme.prism %>.css" />
<link rel="stylesheet" href="/css/typo.css" />
<!-- 文章页 -->
<body class="is-loading">
    <!-- Wrapper 外包 s-->
    <div id="wrapper" class="fade-in">
        <!-- Intro 头部显示 s -->
        <!-- Intro 头部显示 e -->
        <!-- Header 头部logo start -->
        <%- partial('_partial/headerlogo', {}, {cache: true}) %>
        <!-- Nav 导航条 start -->
        <%- partial('_partial/nav' , {}, {cache: true}) %>

        <div id="main" >
            <div class ="post_page_title_img" style="height: 25rem;background-image: url(<%= page.thumbnail %>);background-position: center; background-repeat:no-repeat; background-size:cover;-moz-background-size:cover;overflow:hidden;" >
                <a href="#" style="padding: 4rem 4rem 2rem 4rem ;"><h2 ><%= page.title %></h2></a>
            </div>
            <!-- Post -->
            <div class="typo" style="padding: 3rem;">
                <%-page.content%>
            </div>

            <!-- Post Comments -->
            <%- partial('_partial/comment') %>

        </div>
        <!-- Copyright 版权 start -->
        <%- partial('_partial/copyright', {}, {cache: true} ) %>
    </div>
</body>


<% } %>